<!DOCTYPE html>
<html>
    <head>
        <link href="<%= url('/estilos/estilos.css') %>" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="ct" id="t1">
            <div class="ct" id="t2">
                <div class="ct" id="t3">
                    <div class="ct" id="t4">
                        <section>
                            <ul>
                                <a href="#t1">
                                    <li class="icon fa fa-home" id="uno"></li>
                                </a>
                                <a href="#t2">
                                    <li class="icon fa fa-keyboard-o" id="dos"></li>
                                </a>
                                <a href="#t3">
                                    <li class="icon fa fa-coffee" id="tres"></li>
                                </a>
                                <a href="#t4">
                                    <li class="icon fa fa-dribbble" id="cuatro"></li>
                                </a>
                            </ul>
                            <div class="page" id="p1">
                            <li class="icon fa fa-home">
                                <span class="title">¿Quienes Somos?</span>
                                <span class="hint">rellenar!...<br/>
                                    rellenar, rellenar, rellenar</span>
                            </li>
                        </div>
                        <div class="page" id="p2">
                            <li class="icon fa fa-keyboard-o">
                                <span class="title">¿Que hacemos?</span>
                            </li>
                        </div>
                        <div class="page" id="p3">
                            <li class="icon fa fa-coffee">
                                <span class="title">¿Donde estamos</span>
                            </li>
                        </div>
                        <div class="page" id="p4">
                            <li class="icon fa fa-dribbble">
                                <span class="title">Contactanos</span>
                                <span class="hint">
                                    <a href="mailto:info@lospaseadores.com?subject=Contacto_Web">Escribinos</a>
                                </li>
                            </div>
                            <p class="credit">
                                <a href="http://github.com/hernanofx/">Copyright 2016 - www.lospaseadores.com</a>
                            </p>
                        </section>

                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
