<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Lobster|Indie+Flower" rel="stylesheet" type="text/css">
        <link href="<%= url('/estilos/estilos.css') %>" rel="stylesheet" type="text/css"/>

    </head>
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-transparent navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand page-scroll" href="#page-top">
                        <!-- Logo <a href="/"><img src="/imagenes/logo1.png" alt="logoazul" class="navbar-brand" href="/"></a> -->
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav navbar-center">
                            <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                            <li class="hidden">
                                <a class="page-scroll" href="#page-top"></a>
                            </li>
                            <li class="menunosotros">
                                <a class="page-scroll" href="#about">NOSOTROS</a>
                            </li>
                            <li class="menuservicios">
                                <a class="page-scroll" href="#services">SERVICIOS</a>
                            </li>
                            <li class="menuzona">
                                <a class="page-scroll " href="#zonas">ZONA</a>
                            </li>
                            <li class="menucontactanos">
                                <a class="page-scroll" href="#contact">CONTACTO</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="https://www.facebook.com/lospaseadores/" target="_blank" id="social-fb" class="fa fa-facebook-square fa-3x social"></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/lospaseadores" target="_blank" id="social-in" class="fa fa-instagram fa-3x social"></a>
                            </li>
                            <li>
                                <a href="mailto:info@lospaseadores.com?subject=contacto" target="_blank" id="social-em" class="fa fa-envelope-square fa-3x social"></a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container -->
            </nav>

            <!-- Intro Section -->
            <section id="intro" class="intro-section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <intro-section>Paseadores caninos de calidad</intro-section>
                            <br>
                            <a href="#about" type="button" class="btn btn-default btn-lg page-scroll">
                                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                                ¿Quienes somos?
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- About Section -->
        <section id="about" class="about-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <about-section>Sobre nosotros</about-section>
                        <h3>
                            somos una familia que bla bla bla bla y blabla bla
                        </h3>
                        <p>
                            por eso bla bla bla bla bla bla
                        </p>
                        <a href="#services" type="button" class="btn btn-default btn-lg page-scroll">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                            Los servicios que ofrecemos
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Services Section -->
    <section id="services" class="services-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <services-section>Servicios</services-section>
                    <h3>
                        Los servicios que ofrecemos
                    </h3>
                    <p>
                        sarasa sarasa
                    </p>
                    <a href="#zonas" type="button" class="btn btn-default btn-lg page-scroll">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                        La zona en la que trabajamos
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- zona-section Section -->
<section id="zonas" class="zona-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <zona-section>Zonas que trabajamos</zona-section>
                <div>
                    <iframe src="https://www.google.com/maps/d/embed?mid=1QqBRMkOBkMovMzQ45kVX6332g48&hl=es" width="640" height="480"></iframe>
                </div>
                <a href="#contact" type="button" class="btn btn-default btn-lg page-scroll">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                    Ponete en contacto con nosotros
                </button>
            </a>
        </div>
    </div>
</div>
</section>

<!-- Contact Section -->
<section id="contact" class="contact-section">
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <contact-section>Escribinos</contact-section>
        </div>
    </div>
</div>
</section>

<script src="/js/jquery.js"></script>
<script src="/js/onepage.js"></script>
<script src="/js/map.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5rG7fWTHjfjwaI0SPUCTEJTq3byFKZoo&callback=myMap"></script>

</body>
<footer class="container-fluid text-center">
<a href="#page-top" title="To Top">
<span class="glyphicon glyphicon-chevron-up"></span>
</a>
<h5>Hecho por Hernán Dorra - 2016</h5>
</footer>

</html>
